


.submit-btn{
    display: block;
    /* width: 100%; */
    background-color: steelblue;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 3px;
    cursor: pointer;
}


.submit-btn:hover {
    background-color: #575b5f;
  }


.fg-container{
    background-color: #36454f;
}