.signup-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #36454f;
}

.signup-box {
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 5px;
  width: 380px;
  background-color: #f7f7f7;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  color: #000;
}

.signup-heading {
  font-size: 20px;
  font-weight: bold;
  color: steelblue;
  margin-bottom: 20px;
  text-align: center;
  transition: color 0.3s ease-in-out;
}

.input-group {
  position: relative;
  margin-bottom: 15px;
}

.input-group label {
  display: block;
  margin-bottom: 5px;
  font-size: 15px;
}

.input-group input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.signup-button {
  display: block;
  width: 100%;
  background-color: steelblue;
  color: #fff;
  border: none;
  padding: 10px;
  border-radius: 3px;
  cursor: pointer;
}

.signup-button:hover {
  background-color: #575b5f;
}

.password-eye {
  position: absolute;
  font-size: 20px;
  top: 64%;
  right: 15px;
  transform: translateY(-50%);
  cursor: pointer;
}
